body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header .logo img {
    height: 75px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

.get-in-touch {
    background-color: #f28a30;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-right: 50px;
}

.get-in-touch:hover {
    background-color: #f15a22;
}

section {
    padding: 100px 20px 40px 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#about, #team, #work, #contact {
    background-color: #fff;
    padding: 80px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#about {
    padding-top: 120px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}

h2 {
    color: #555;
    font-size: 2em;
    margin: 40px 0 10px 0;
    font-weight: 600;
}

h3 {
    color: #777;
    font-size: 1.5em;
    margin: 30px 0 20px 0;
    font-weight: bold;
}

.team-member, .brand, .project {
    display: inline-block;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-member:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member p {
    margin: 5px 0;
}

#work .brand img {
    width: 100px;
    height: 100px;
    filter: grayscale(100%) hue-rotate(60deg) saturate(350%) brightness(85%);
    transition: filter 0.3s;
}

#work .brand img:hover {
    filter: none;
}

#work .category {
    margin: 25px 0 40px 0;
    padding-bottom: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-container, .unannounced-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#contact p {
    font-size: 1.2em;
}

#contact a {
    color: #f28a30;
    text-decoration: none;
    transition: color 0.3s;
}

#contact a:hover {
    color: #f15a22;
}

.unannounced-project p, .project p {
    font-size: 1em;
    color: #555;
}